<form class="form">

    <h1>
        Criar novo Profissional
    </h1>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome: </mat-label>
        <input matInput placeholder="Ex. Mario Alberto">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Endereço: </mat-label>
        <input matInput placeholder="Rua: Martins Albuquerque, 300 Bairro: São João, Aptº 369 ">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone: </mat-label>
        <input matInput placeholder="Ex. 8599778899">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone Celular: </mat-label>
        <input matInput placeholder="Ex. 8599887744">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email: </mat-label>
        <input matInput placeholder="Ex. joao@email.com">
    </mat-form-field>

    <button (click)="create()" mat-raised-button class="criar">CRIAR</button>
    <button (click)="cancel()" mat-raised-button class="cancelar">CANCELAR</button>



</form>